src/main/app/dbcalls/export.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

<flow name="db:/export">
        <expression-component doc:name="Add export as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("export")) {
	flowVars.sources.add("export");
}]]></expression-component>
        <db:select config-ref="Exports_database" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT ensembles.pid, file_count, COUNT(*), ensembles.tenant, ensembles.metadata, ensembles.export_id, ensembles.type, ensembles.metadata_format, ensembles.id
FROM  export_ensembles ensembles
LEFT JOIN  export export ON  ensembles.pid = ensemble_pid AND ensembles.export_id = export.export_id
WHERE  status IN('completed')
GROUP BY ensembles.pid, file_count, ensembles.tenant, ensembles.metadata, ensembles.export_id, ensembles.type, ensembles.metadata_format, ensembles.id
ORDER BY ensembles.id DESC
OFFSET #[flowVars.startIndex]
LIMIT #[flowVars.nrOfResults];]]></db:parameterized-query>
        </db:select>
        <flow-ref name="checkResults" doc:name="checkResults"/>
    </flow>

</mule>
