src/main/app/dbcalls/report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

<flow name="db:/report/ams">
        <expression-component doc:name="Add AMS as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}]]></expression-component>
        <db:select config-ref="AMS_MySQL" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT EXTRACT(year_month from created_on), UNIX_TIMESTAMP(MIN(created_on)) x, COUNT(1) total_registered, SUM(CASE WHEN carrier_type_id = 1 THEN 1 ELSE 0 END) audio_registered, SUM(CASE WHEN carrier_type_id = 2 THEN 1 ELSE 0 END) video_registered, SUM(CASE WHEN carrier_type_id = 3 THEN 1 ELSE 0 END) paper_registered, SUM(CASE WHEN carrier_type_id = 4 THEN 1 ELSE 0 END) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (SELECT id FROM ${ams.db.organizations} WHERE noid_id = #[flowVars.cp_ldap])
GROUP BY EXTRACT(year_month from created_on)
ORDER BY MIN(created_on) ASC;]]></db:parameterized-query>
        </db:select>
    </flow>
    
    <flow name="db:/report/ams-created">
        <expression-component doc:name="Add AMS as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}]]></expression-component>
        <db:select config-ref="AMS_MySQL" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT EXTRACT(year_month from created_on), UNIX_TIMESTAMP(MIN(created_on)) x, COUNT(1) total_registered, SUM(CASE WHEN carrier_type_id = 1 THEN 1 ELSE 0 END) audio_registered, SUM(CASE WHEN carrier_type_id = 2 THEN 1 ELSE 0 END) video_registered, SUM(CASE WHEN carrier_type_id = 3 THEN 1 ELSE 0 END) paper_registered, SUM(CASE WHEN carrier_type_id = 4 THEN 1 ELSE 0 END) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (SELECT id FROM ${ams.db.organizations} WHERE noid_id = #[flowVars.cp_ldap])
AND created_on >= #[flowVars.start]
GROUP BY EXTRACT(year_month from created_on)
ORDER BY MIN(created_on) ASC;]]></db:parameterized-query>
        </db:select>
    </flow>
    
    <flow name="db:/report/mam">
        <expression-component doc:name="Add MAM as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("MAM")) {
	flowVars.sources.add("MAM");
}]]></expression-component>
        <db:select config-ref="Mediahaven_monitoring" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT distinct extract(epoch from m.month) x, case when (count(1) OVER (PARTITION BY m.month)) = 1 then 0 else count(1) OVER (PARTITION BY m.month) end items, case when (sum(carrier_size) OVER (PARTITION BY m.month)) is null then 0 else sum(carrier_size) OVER (PARTITION BY m.month) end bytes 
FROM (
 SELECT generate_series(date_trunc('month', min(date)) , max(date), '1 month') AS month
 FROM pids) m
LEFT JOIN (
    SELECT date_trunc('month', date) AS month, carrier_size
    FROM pids
    WHERE content_provider LIKE #[flowVars.cp_mam]
    AND status = 'OK'
    AND pid IN (
        SELECT pid FROM events WHERE key = 'ARCHIVED_ON_TAPE_VAULT')
) c USING (month)
ORDER BY 1;]]></db:parameterized-query>
        </db:select>
    </flow>
    
    <flow name="db:/report/mam-created">
        <expression-component doc:name="Add MAM as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("MAM")) {
	flowVars.sources.add("MAM");
}]]></expression-component>
        <db:select config-ref="Mediahaven_monitoring" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT distinct extract(epoch from m.month) x, case when (count(1) OVER (PARTITION BY m.month)) = 1 then 0 else count(1) OVER (PARTITION BY m.month) end items, case when (sum(carrier_size) OVER (PARTITION BY m.month)) is null then 0 else sum(carrier_size) OVER (PARTITION BY m.month) end bytes
FROM (
    SELECT generate_series(date_trunc('month', min(date)) , max(date), '1 month') AS month
    FROM pids
    WHERE date >= #[flowVars.start]
) m
LEFT JOIN (
    SELECT date_trunc('month', date) AS month, carrier_size
    FROM pids
    WHERE date >= #[flowVars.start]
    AND content_provider LIKE #[flowVars.cp_mam]
    AND status = 'OK'
    AND pid IN (
        SELECT pid
        FROM events
        WHERE date >= #[flowVars.start]
        AND key = 'ARCHIVED_ON_TAPE_VAULT'
    )
) c
USING (month) ORDER BY 1;]]></db:parameterized-query>
        </db:select>
    </flow>

</mule>
