src/main/app/dbcalls/report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

<flow name="db:/report/ams">
        <expression-component doc:name="Add AMS as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}]]></expression-component>
        <db:select config-ref="AMS_MySQL" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT EXTRACT(year_month from created_on), UNIX_TIMESTAMP(MIN(created_on)) x, COUNT(1) total_registered, SUM(CASE WHEN carrier_type_id = 1 THEN 1 ELSE 0 END) audio_registered, SUM(CASE WHEN carrier_type_id = 2 THEN 1 ELSE 0 END) video_registered, SUM(CASE WHEN carrier_type_id = 3 THEN 1 ELSE 0 END) paper_registered, SUM(CASE WHEN carrier_type_id = 4 THEN 1 ELSE 0 END) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (SELECT id FROM ${ams.db.organizations} WHERE noid_id LIKE #[flowVars.cp_ldap])
GROUP BY EXTRACT(year_month from created_on)
ORDER BY MIN(created_on) ASC;]]></db:parameterized-query>
        </db:select>
    </flow>
    
    <flow name="db:/report/global/ams/registered">
        <expression-component doc:name="Add AMS as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}]]></expression-component>
        <db:select config-ref="AMS_MySQL" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT count(1) total_registered, sum(case when carrier_type_id = 1 then 1 else 0 end) audio_registered, sum(case when carrier_type_id = 2 then 1 else 0 end) video_registered, sum(case when carrier_type_id = 3 then 1 else 0 end) paper_registered, sum(case when carrier_type_id = 4 then 1 else 0 end) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (SELECT id FROM ${ams.db.organizations} WHERE noid_id LIKE(#[flowVars.cp_ldap]));]]></db:parameterized-query>
        </db:select>
    </flow>
    
        <flow name="db:/report/global/ams/digitized">
        <expression-component doc:name="Add AMS as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}]]></expression-component>
        <db:select config-ref="AMS_MySQL" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT sum(case when (c.is_digitized = 0 and e.event_outcome is null) and c.carrier_type_id = 1 then 1 else 0 end) audio_registered_and_not_digitised, sum(case when (c.is_digitized = 0 and e.event_outcome is null) and c.carrier_type_id = 2 then 1 else 0 end) video_registered_and_not_digitised, sum(case when (c.is_digitized = 0 and e.event_outcome is null) and c.carrier_type_id = 4 then 1 else 0 end) film_registered_and_not_digitised, sum(case when e.event_outcome = 1 and c.carrier_type_id = 1 then 1 else 0 end) audio_digitised_ok, sum(case when e.event_outcome = 0 and c.carrier_type_id = 1 then 1 else 0 end) audio_digitised_nok, sum(case when e.event_outcome = 1 and c.carrier_type_id = 2 then 1 else 0 end) video_digitised_ok, sum(case when e.event_outcome = 0 and c.carrier_type_id = 2 then 1 else 0 end) video_digitised_nok, sum(case when e.event_outcome = 1 and c.carrier_type_id = 4 then 1 else 0 end) film_digitised_ok, sum(case when e.event_outcome = 0 and c.carrier_type_id = 4 then 1 else 0 end) film_digitised_nok
FROM ams.carrier c
LEFT JOIN ams.events e ON c.id = e.carrier_id and e.id = (
    SELECT max(id)
    FROM ams.events x
    WHERE x.carrier_id = c.id
    AND event_lookup_id = 5)
WHERE carrier_id IN (
    SELECT id
    FROM ${ams.db.carrier}
    WHERE organization_id IN (SELECT id FROM ${ams.db.organizations} WHERE noid_id LIKE(#[flowVars.cp_ldap]))
);]]></db:parameterized-query>
        </db:select>
    </flow>
    
        <flow name="db:/report/global/ams/digitized_paper">
        <expression-component doc:name="Add AMS as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}]]></expression-component>
        <db:select config-ref="AMS_MySQL" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT sum(case when e.event_outcome = 1 then 1 else 0 end) paper_digitised_ok, sum(case when e.event_outcome = 0 then 1 else 0 end) paper_digitised_nok
FROM ${ams.db.paper_event} e
WHERE event_lookup_id = 5
AND carrier_id IN (
    select id
    from ${ams.db.carrier}
    where organization_id IN (SELECT id FROM ${ams.db.organizations} WHERE noid_id LIKE(#[flowVars.cp_ldap])) )]]></db:parameterized-query>
        </db:select>
    </flow>
    
        <flow name="db:/report/global/ams/status">
        <expression-component doc:name="Add AMS as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}]]></expression-component>
        <db:select config-ref="AMS_MySQL" doc:name="Database">
            <db:parameterized-query><![CDATA[select sum(case when e.event_outcome = 1 then 1 else 0 end) paper_digitised_ok, sum(case when e.event_outcome = 0 then 1 else 0 end) paper_digitised_nok
FROM ${ams.db.paper_event} e
WHERE event_lookup_id = 5
AND carrier_id IN ( select id from ${ams.db.carrier} where organization_id IN (SELECT id FROM ${ams.db.organizations} WHERE noid_id LIKE(#[flowVars.cp_ldap])) )]]></db:parameterized-query>
        </db:select>
    </flow>
    
    <flow name="db:/report/ams-created">
        <expression-component doc:name="Add AMS as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}]]></expression-component>
        <db:select config-ref="AMS_MySQL" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT EXTRACT(year_month from created_on), UNIX_TIMESTAMP(MIN(created_on)) x, COUNT(1) total_registered, SUM(CASE WHEN carrier_type_id = 1 THEN 1 ELSE 0 END) audio_registered, SUM(CASE WHEN carrier_type_id = 2 THEN 1 ELSE 0 END) video_registered, SUM(CASE WHEN carrier_type_id = 3 THEN 1 ELSE 0 END) paper_registered, SUM(CASE WHEN carrier_type_id = 4 THEN 1 ELSE 0 END) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (SELECT id FROM ${ams.db.organizations} WHERE noid_id LIKE(#[flowVars.cp_ldap]))
AND created_on >= #[flowVars.start]
GROUP BY EXTRACT(year_month from created_on)
ORDER BY MIN(created_on) ASC;]]></db:parameterized-query>
        </db:select>
    </flow>
    
    <flow name="db:/report/mam">
        <expression-component doc:name="Add MAM as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("MAM")) {
	flowVars.sources.add("MAM");
}]]></expression-component>
        <db:select config-ref="Mediahaven_monitoring" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT distinct extract(epoch from m.month) x, case when (count(1) OVER (PARTITION BY m.month)) = 1 then 0 else count(1) OVER (PARTITION BY m.month) end items, case when (sum(carrier_size) OVER (PARTITION BY m.month)) is null then 0 else sum(carrier_size) OVER (PARTITION BY m.month) end bytes 
FROM (
 SELECT generate_series(date_trunc('month', min(date)) , max(date), '1 month') AS month
 FROM pids) m
LEFT JOIN (
    SELECT date_trunc('month', date) AS month, carrier_size
    FROM pids
    WHERE content_provider LIKE #[flowVars.cp_mam]
    AND status = 'OK'
    AND pid IN (
        SELECT pid FROM events WHERE key = 'ARCHIVED_ON_TAPE_VAULT')
) c USING (month)
ORDER BY 1;]]></db:parameterized-query>
        </db:select>
    </flow>
    
        <flow name="db:/report/global/mam">
        <expression-component doc:name="Add MAM as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("MAM")) {
	flowVars.sources.add("MAM");
}]]></expression-component>
        <db:select config-ref="Mediahaven_monitoring" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT type mime_type,  count(case when archive_status IN ('on_tape', 'on_disk') then 1 end) archived_amount_ok,  sum(case when archive_status IN ('on_tape', 'on_disk') and filesize is not null then filesize else 0 end) archived_bytes_ok, count(case when archive_status NOT IN ('on_tape', 'on_disk') then 1 end) archived_amount_nok,  sum(case when archive_status NOT IN ('on_tape', 'on_disk') and filesize is not null then filesize else 0 end) archived_bytes_nok
FROM sips
WHERE organisation = #[flowVars.cp_mam]
GROUP BY type
ORDER BY archived_amount_ok DESC;]]></db:parameterized-query>
        </db:select>
    </flow>
    
    <flow name="db:/report/mam-created">
        <expression-component doc:name="Add MAM as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("MAM")) {
	flowVars.sources.add("MAM");
}]]></expression-component>
        <db:select config-ref="Mediahaven_monitoring" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT distinct extract(epoch from m.month) x, case when (count(1) OVER (PARTITION BY m.month)) = 1 then 0 else count(1) OVER (PARTITION BY m.month) end items, case when (sum(carrier_size) OVER (PARTITION BY m.month)) is null then 0 else sum(carrier_size) OVER (PARTITION BY m.month) end bytes
FROM (
    SELECT generate_series(date_trunc('month', min(date)) , max(date), '1 month') AS month
    FROM pids
    WHERE date >= #[flowVars.start]
) m
LEFT JOIN (
    SELECT date_trunc('month', date) AS month, carrier_size
    FROM pids
    WHERE date >= #[flowVars.start]
    AND content_provider LIKE #[flowVars.cp_mam]
    AND status = 'OK'
    AND pid IN (
        SELECT pid
        FROM events
        WHERE date >= #[flowVars.start]
        AND key = 'ARCHIVED_ON_TAPE_VAULT'
    )
) c
USING (month) ORDER BY 1;]]></db:parameterized-query>
        </db:select>
    </flow>

</mule>
