src/main/app/dbcalls/users.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

<flow name="db:/users/count">
        <expression-component doc:name="Add AvO as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AvO")) {
	flowVars.sources.add("AvO");
}]]></expression-component>
        <db:select config-ref="AvO" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT r.name as name, COUNT(DISTINCT (u.uid)) as count, u.status
FROM users u
LEFT JOIN users_roles ur ON ur.uid = u.uid
JOIN role r ON r.rid = ur.rid
WHERE FROM_UNIXTIME(u.access)>= #[flowVars.from] And FROM_UNIXTIME(u.access)<= #[flowVars.until]
GROUP BY ur.rid
ORDER BY ur.rid DESC;]]></db:parameterized-query>
        </db:select>
    </flow>
    
    <flow name="db:/users/count/active">
        <expression-component doc:name="Add AvO as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AvO")) {
	flowVars.sources.add("AvO");
}]]></expression-component>
        <db:select config-ref="AvO" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT ur.rid, r.name, COUNT(DISTINCT (u.uid)) as counter
FROM users u
JOIN users_roles ur ON ur.uid = u.uid
JOIN role r ON r.rid = ur.rid
WHERE FROM_UNIXTIME(u.access)>= #[flowVars.from]
AND FROM_UNIXTIME(u.access)<= #[flowVars.until]
GROUP BY ur.rid
ORDER BY ur.rid;]]></db:parameterized-query>
        </db:select>
    </flow>
    
        <flow name="db:/users/count/registered">
        <expression-component doc:name="Add AvO as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AvO")) {
	flowVars.sources.add("AvO");
}]]></expression-component>
        <db:select config-ref="AvO" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT r.name, count(u.uid) as count
FROM users u
JOIN users_roles ur ON u.uid = ur.uid
JOIN role r ON r.rid = ur.rid
WHERE FROM_UNIXTIME(u.access)>= #[flowVars.from]
AND FROM_UNIXTIME(u.access)<= #[flowVars.until]
GROUP BY r.name;]]></db:parameterized-query>
        </db:select>
    </flow>
    
            <flow name="db:/users/roles">
        <expression-component doc:name="Add AvO as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AvO")) {
	flowVars.sources.add("AvO");
}]]></expression-component>
        <db:select config-ref="AvO" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT * FROM sb_testbeeldond.role as r
ORDER BY r.rid;]]></db:parameterized-query>
        </db:select>
    </flow>

</mule>
