src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cors="http://www.mulesoft.org/schema/mule/cors" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/cors http://www.mulesoft.org/schema/mule/cors/current/mule-cors.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="10006" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <cors:config name="Cors_Configuration" doc:name="Cors Configuration">
	    <cors:origins>
	        <cors:origin url="*">
	            <cors:methods>
	                <cors:method>GET</cors:method>
	            </cors:methods>
	            <cors:headers>
	                <cors:header>content-type</cors:header>
	            </cors:headers>
	        </cors:origin>
	    </cors:origins>
	</cors:config>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP" responseStreamingMode="NEVER"/>
        <cors:validate config-ref="Cors_Configuration" publicResource="false" acceptsCredentials="false" doc:name="CORS Validate" />
        <set-variable variableName="path" value="#[message.inboundProperties.'http.request.path']" doc:name="Set path"/>
        <flow-ref name="ref:getMilli" doc:name="ref:getMilli"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/api/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="errorMessage" value="#[exception.?cause.?cause.?message or exception.cause.?message or exception.cause]" doc:name="Set errorMessage"/>
            <set-variable variableName="statuscode" value="#[404]" doc:name="Set statuscode"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars["path"] ,
        "description": flowVars['description'],
        "status": "failed",
        "message": flowVars.errorMessage,
        "statuscode": flowVars.statuscode,
        "sources": flowVars['sources']
	},
	"data": {}
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="errorMessage" value="#[exception.?cause.?cause.?message or exception.cause.?message or exception.cause]" doc:name="Set errorMessage"/>
            <set-variable variableName="statuscode" value="#[405]" doc:name="Set statuscode"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars["path"] ,
        "description": flowVars['description'],
        "status": "failed",
        "message": flowVars.errorMessage,
        "statuscode": flowVars.statuscode,
        "sources": flowVars['sources']
	},
	"data": {}
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="errorMessage" value="#[exception.?cause.?cause.?message or exception.cause.?message or exception.cause]" doc:name="Set errorMessage"/>
            <set-variable variableName="statuscode" value="#[415]" doc:name="Set statuscode"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars["path"] ,
        "description": flowVars['description'],
        "status": "failed",
        "message": flowVars.errorMessage,
        "statuscode": flowVars.statuscode,
        "sources": flowVars['sources']
	},
	"data": {}
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="errorMessage" value="#[exception.?cause.?cause.?message or exception.cause.?message or exception.cause]" doc:name="Set errorMessage"/>
            <set-variable variableName="statuscode" value="#[406]" doc:name="Set statuscode"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars["path"] ,
        "description": flowVars['description'],
        "status": "failed",
        "message": flowVars.errorMessage,
        "statuscode": flowVars.statuscode,
        "sources": flowVars['sources']
	},
	"data": {}
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="errorMessage" value="#[exception.?cause.?cause.?message or exception.cause.?message or exception.cause]" doc:name="Set errorMessage"/>
            <set-variable variableName="statuscode" value="#[400]" doc:name="Set statuscode"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars["path"] ,
        "description": flowVars['description'],
        "status": "failed",
        "message": flowVars.errorMessage,
        "statuscode": flowVars.statuscode,
        "sources": flowVars['sources']
	},
	"data": {}
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
        <apikit:mapping statusCode="500">
            <apikit:exception value="java.lang.Exception" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="errorMessage" value="#[exception.?cause.?cause.?message or exception.cause.?message or exception.cause]" doc:name="Set errorMessage"/>
            <set-variable variableName="statuscode" value="#[500]" doc:name="Set statuscode"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars["path"] ,
        "description": flowVars['description'],
        "status": "failed",
        "message": flowVars.errorMessage,
        "statuscode": flowVars.statuscode,
        "sources": flowVars['sources']
	},
	"data": {}
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
