src/main/app/asset.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

<flow name="get:asset/{pid}/{info}">
        <http:listener config-ref="api-httpListenerConfig" path="asset/{pid}/{info}" allowedMethods="get" doc:name="HTTP"/>
        <set-variable variableName="pid" value="#[message.inboundProperties.'http.uri.params'.pid]" doc:name="var pid"/>
        <set-variable variableName="link" value="/asset?cql=dc.identifier%3D%22#[flowVars.pid]%22" doc:name="var link"/>
        <set-variable variableName="info" value="#[message.inboundProperties.'http.uri.params'.info]" doc:name="var info"/>
        <set-variable variableName="path" value="#[message.inboundProperties.'http.listener.path']" doc:name="var path"/>
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <dw:transform-message doc:name="var count">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="count"><![CDATA[%dw 1.0
%output application/java
---
payload.response.header['item_count']]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="ref:getMilli" doc:name="ref:getMilli"/>
        <choice doc:name="Choice_pid_found">
            <when expression="#[flowVars.count &gt; 0]">
                <choice doc:name="Choice_search_criteria">
                    <when expression="#[flowVars.info == 'plays']">
                        <dw:transform-message doc:name="plays">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "description": "Mogelijke gebruikersrollen in AvO.",
        "success":"All went well, and (usually) some data was returned.",
        "result_count": sizeOf payload,
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.played
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.info == 'views']">
                        <dw:transform-message doc:name="views">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "description": "Aantals views van asset",
        "success":"All went well, and (usually) some data was returned.",
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.viewed
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.info == 'still']">
                        <dw:transform-message doc:name="still">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "description": "Still van de asset",
        "success":"All went well, and (usually) some data was returned.",
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.vpx_still_url
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.info == 'media']">
                        <dw:transform-message doc:name="media">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "description": "Gebruikte Media",
        "success":"All went well, and (usually) some data was returned.",
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.mediafile.filename
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.info == 'favorites']">
                        <dw:transform-message doc:name="favorites">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "description": "Meest favorite asset",
        "success":"All went well, and (usually) some data was returned.",
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.is_favorite
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <otherwise>
                        <set-variable variableName="message" value="#[&quot;No results on search query /&quot; + flowVars.info]" doc:name="var message"/>
                        <dw:transform-message doc:name="fail message">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "fail":  flowVars['message'],
        "sources": ["mediamosa"]
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <dw:transform-message doc:name="fail message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path":flowVars['path'],
        "fail": "No results on current pid",
        "sources": ["mediamosa"]
	}
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-variable variableName="fail" value="#[exception.cause.message]" doc:name="var fail"/>
            <dw:transform-message doc:name="fail message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "status":{
	        "fail":"There was a problem with the data submitted, or some pre-condition of the API call wasn't satisfied (e.g. date formatting is off)",
    		"message":flowVars['fail']    	
        },
        "sources": ["avo"]
	}
}]]></dw:set-payload>
            </dw:transform-message>
        </catch-exception-strategy>


    </flow>
    
    
    <flow name="get:asset/mm/{id}/{info}">
        <http:listener config-ref="api-httpListenerConfig" path="asset/mm/{id}/{info}" allowedMethods="get" doc:name="HTTP"/>
        <set-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="var id"/>
        <set-variable variableName="link" value="/asset/#[flowVars.id]" doc:name="var link"/>
        <set-variable variableName="info" value="#[message.inboundProperties.'http.uri.params'.info]" doc:name="var info"/>
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <dw:transform-message doc:name="var count">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="count"><![CDATA[%dw 1.0
%output application/java
---
payload.response.header.item_count]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="ref:getMilli" doc:name="ref:getMilli"/>
        <set-variable variableName="path" value="#[message.inboundProperties.'http.listener.path']" doc:name="var path"/>
        <choice doc:name="Choice_asset_found">
            <when expression="#[flowVars.count &gt; 0]">
                <choice doc:name="Choice_search_criteria">
                    <when expression="#[flowVars.info == 'plays']">
                        <dw:transform-message doc:name="plays">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "description": "Mogelijke gebruikersrollen in AvO.",
        "status": "success",
        "result_count": sizeOf payload,
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.played
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.info == 'views']">
                        <dw:transform-message doc:name="views">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "description": "Aantals views van asset",
        "status": "success",
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.viewed
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.info == 'still']">
                        <dw:transform-message doc:name="still">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "description": "Still van de asset",
        "status": "success",
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.vpx_still_url
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.info == 'media']">
                        <dw:transform-message doc:name="media">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "description": "Gebruikte Media",
        "success":"All went well, and (usually) some data was returned.",
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.mediafile.filename
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.info == 'favorites']">
                        <dw:transform-message doc:name="favorites">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars["path"] ,
        "description": "Meest favorite asset",
        "success":"All went well, and (usually) some data was returned.",
        "sources": ["mediamosa"]
	},
	"data": {
		(flowVars['info'] as :string) : payload.response.items.item.is_favorite
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <otherwise>
                        <set-variable variableName="message" value="#['No results on search query /' +flowVars.info]" doc:name="var message"/>
                        <dw:transform-message doc:name="fail message">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "fail": flowVars['message'],
        "sources": ["mediamosa"]
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <dw:transform-message doc:name="fail message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path":flowVars['path'],
        "fail": "No results on current id",
        "sources": ["mediamosa"]
	}
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>


    </flow>
    <flow name="get:asset/{pid}">
        <http:listener config-ref="api-httpListenerConfig" path="asset/{pid}" allowedMethods="get" doc:name="HTTP"/>
        <flow-ref name="ref:getMilli" doc:name="ref:getMilli"/>
        <set-variable variableName="pid" value="#[message.inboundProperties.'http.uri.params'.pid]" doc:name="var pid"/>
        <set-variable variableName="link" value="/asset?cql=dc.identifier%3D%22#[flowVars.pid]%22" doc:name="var link"/>
        <set-variable variableName="path" value="#[message.inboundProperties.'http.listener.path']" doc:name="var path"/>
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <dw:transform-message doc:name="output">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars["path"] ,
        "description": "asset",
        "success":"All went well, and (usually) some data was returned.",
        "sources": ["mediamosa"]
	},
	"data": payload.response.items.item
}]]></dw:set-payload>
        </dw:transform-message>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-variable variableName="fail" value="#[exception.cause.message]" doc:name="var fail"/>
            <dw:transform-message doc:name="fail message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "fail":flowVars['fail'],
        "sources": ["avo"]
	}
}]]></dw:set-payload>
            </dw:transform-message>
        </catch-exception-strategy>

    </flow>

    <flow name="get:asset/mm/{id}">
        <http:listener config-ref="api-httpListenerConfig" path="/asset/mm/{id}" doc:name="HTTP" allowedMethods="get"/>
        <set-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="var id"/>
        <set-variable variableName="path" value="#[message.inboundProperties.'http.listener.path']" doc:name="var path"/>
        <flow-ref name="ref:getMilli" doc:name="ref:getMilli"/>
        <flow-ref name="ref:/asset/mm/{id}" doc:name="ref:/asset/mm/{id}"/>
        <dw:transform-message doc:name="output">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars["path"] ,
        "description": "asset",
        "success":"All went well, and (usually) some data was returned.",
        "sources": ["mediamosa"]
	},
	"data": payload.response.items.item
}]]></dw:set-payload>
        </dw:transform-message>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-variable variableName="fail" value="#[exception.cause.message]" doc:name="var fail"/>
            <dw:transform-message doc:name="fail message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": flowVars['path'] ,
        "status":flowVars['fail'],
        "sources": ["avo"]
	}
}]]></dw:set-payload>
            </dw:transform-message>
        </catch-exception-strategy>

    </flow>
    <sub-flow name="ref:/asset/mm/{id}">
        <set-variable variableName="link" value="/asset/#[flowVars.id]" doc:name="var link"/>
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <dw:transform-message doc:name="var count">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="count"><![CDATA[%dw 1.0
%output application/java
---
payload.response.header.item_count]]></dw:set-variable>
        </dw:transform-message>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="asset_id"><![CDATA[%dw 1.0
%output application/json
---
assetid:payload.response.items.item.asset_id]]></dw:set-variable>
            <dw:set-variable variableName="asset"><![CDATA[%dw 1.0
%output application/json
---
payload.response.items.item]]></dw:set-variable>
        </dw:transform-message>

    </sub-flow>
    <flow name="get:/getassets(usedForGettingAssets)">
        <http:listener config-ref="api-httpListenerConfig" path="/getassets" allowedMethods="get" doc:name="HTTP"/>
        <set-variable variableName="link" value="/asset" doc:name="var link"/>
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
    </flow>
</mule>