src/main/app/asset.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="get:/asset/{pid}:api-config">
        <set-variable doc:name="Set description" value="Get asset's info based on pid" variableName="description"/>
        <set-variable variableName="link" value="/asset?cql=viaa_pid%3D%22#[flowVars.pid]%22" doc:name="var link"/>
        
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <dw:transform-message doc:name="Copy_of_var count">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="count"><![CDATA[%dw 1.0
%output application/java
---
payload.response.header.item_count]]></dw:set-variable>
        </dw:transform-message>
        <choice doc:name="Copy_of_Choice_assets_found">
            <when expression="#[flowVars.count &gt; 0]">
                <dw:transform-message doc:name="Copy_of_output">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", payload.response.items.item)]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <flow-ref name="throw404" doc:name="Copy_of_throw404"/>
            </otherwise>
        </choice>
    </flow>
    
    <flow name="get:/asset/{pid}/{type}:api-config">
        <set-variable doc:name="Set description" value="Get #[flowVars.type] from asset based on pid" variableName="description"/>
        <set-variable variableName="link" value="/asset?cql=viaa_pid%3D%22#[flowVars.pid]%22" doc:name="var link"/>
        
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <dw:transform-message doc:name="var count">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="count"><![CDATA[%dw 1.0
%output application/java
---
payload.response.header['item_count']]]></dw:set-variable>
        </dw:transform-message>
        
        <choice doc:name="Choice_pid_found">
            <when expression="#[flowVars.count &gt; 0]">
                <choice doc:name="Choice_search_criteria">
                    <when expression="#[flowVars.type == 'plays']">
                        <dw:transform-message doc:name="plays">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.played
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.type == 'views']">
                        <dw:transform-message doc:name="views">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.viewed
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.type == 'still']">
                        <dw:transform-message doc:name="still">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.vpx_still_url
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.type == 'media']">
                        <dw:transform-message doc:name="media">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.mediafile_filename
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.type == 'favorites']">
                        <dw:transform-message doc:name="favorites">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.is_favorite
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <otherwise>
                        <flow-ref name="throw404" doc:name="throw404"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <flow-ref name="throw404" doc:name="throw404"/>
            </otherwise>
        </choice>
    </flow>

	<flow name="get:/asset/mm/{id}:api-config">
        <set-variable doc:name="Set description" value="Get asset's info based on asset_id" variableName="description"/>
        
        <set-variable variableName="link" value="/asset/#[flowVars.id]" doc:name="var link"/>
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <dw:transform-message doc:name="Copy_of_Copy_of_var count">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="count"><![CDATA[%dw 1.0
%output application/java
---
payload.response.header.item_count]]></dw:set-variable>
        </dw:transform-message>
        <choice doc:name="Copy_of_Copy_of_Choice_assets_found">
            <when expression="#[flowVars.count &gt; 0]">
                <dw:transform-message doc:name="Copy_of_Copy_of_output">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", payload.response.items.item)]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <flow-ref name="throw404" doc:name="Copy_of_Copy_of_throw404"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="get:/asset/mm/{id}/{type}:api-config">
        <set-variable doc:name="Set description" value="Get #[flowVars.type] from asset based on asset_id" variableName="description"/>
        <set-variable variableName="link" value="/asset/#[flowVars.id]" doc:name="var link"/>
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <dw:transform-message doc:name="var count">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="count"><![CDATA[%dw 1.0
%output application/java
---
payload.response.header.item_count]]></dw:set-variable>
        </dw:transform-message>
        
        
        <choice doc:name="Choice_asset_found">
            <when expression="#[flowVars.count &gt; 0]">
                <choice doc:name="Choice_search_criteria">
                    <when expression="#[flowVars.type == 'plays']">
                        <dw:transform-message doc:name="plays">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.played
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.type == 'views']">
                        <dw:transform-message doc:name="views">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.viewed
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.type == 'still']">
                        <dw:transform-message doc:name="still">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.vpx_still_url
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.type == 'media']">
                        <dw:transform-message doc:name="media">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.mediafile_filename
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <when expression="#[flowVars.type == 'favorites']">
                        <dw:transform-message doc:name="favorites">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", {
	(flowVars['type'] as :string) : payload.response.items.item.is_favorite
})]]></dw:set-payload>
                        </dw:transform-message>
                    </when>
                    <otherwise>
                        <flow-ref name="throw404" doc:name="throw404"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <flow-ref name="throw404" doc:name="throw404"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="get:/getassets(usedForGettingAssets)">
        <http:listener config-ref="api-httpListenerConfig" path="/getassets" allowedMethods="get" doc:name="HTTP"/>
        <set-variable variableName="link" value="/asset" doc:name="var link"/>
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
lookup("create_response", payload)]]></dw:set-payload>
        </dw:transform-message>
    </flow>

</mule>
