src/main/app/backup.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


 <flow name="get:/user/{uid}/collections:api-config_backup">
        <http:listener config-ref="api-httpListenerConfig" path="/user/{uid}/test" allowedMethods="get" doc:name="HTTP"/>
        <set-variable variableName="uid" value="#[message.inboundProperties.'http.uri.params'.uid]" doc:name="var-uid"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select asset_id, n.nid from node n
join mediamosa_collection_mapping mc on n.nid = mc.nid
where n.uid = #[flowVars.uid]
and n.type = 'collectie']]></db:parameterized-query>

        </db:select>
        <set-variable variableName="Collections" value="#[payload]" doc:name="var Collections"/>
        <set-variable variableName="info" value="#['']" doc:name="var info"/>
        <foreach collection="#[payload]" doc:name="For Each">
            <set-variable variableName="id" value="#[payload.asset_id]" doc:name="var id"/>
            <flow-ref name="ref:/asset/mm/{id}" doc:name="ref:/asset/mm/{id}"/>
            <byte-array-to-string-transformer doc:name="Byte Array to String"/>
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            <set-variable variableName="info" value="#[flowVars.info + payload +'|']" doc:name="var info"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
}]]></dw:set-payload>
                <dw:set-variable variableName="info"><![CDATA[%dw 1.0
%output application/java
---
flowVars['info'] + payload.response.items.item.isprivate]]></dw:set-variable>
            </dw:transform-message>
        </foreach>

        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%var info = flowVars['info'] splitBy "|"
---
{
	"header": {
		"timestamp": flowVars['getMilli'],
		"path": "/user/{uid}/collections (count)",
	    "description": "Gerbuiker collection aantal",
	    "status": "success",
	    "result_count": sizeOf payload,
	    "sources": ["avo"]
	},
	"data": {(flowVars["Collections"] map
	{
		"order":$$,
		"nid": $.nid,
		"asset_id": $.asset_id,
		"info":info[$$]
	})}
}]]></dw:set-payload>
        </dw:transform-message>


    </flow>
    <flow name="backupFlow">
        <http:listener config-ref="api-httpListenerConfig" path="/test2" allowedMethods="get" doc:name="HTTP"/>
        <set-variable variableName="link" value="/collection/Z1MVVLoVDHYc9joWGmwQQFBw" doc:name="Variable"/>
        <flow-ref name="ref:http-call" doc:name="ref:http-call"/>
        <byte-array-to-object-transformer returnClass="java.util.HashMap" doc:name="Byte Array to Object"/>
    </flow>
    

</mule>
