src/main/app/mijn-viaa-api-gateway.xml
<?xml version="1.0" encoding="UTF-8"?>
 
<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:generic-config name="Mediahaven_monitoring" url="jdbc:postgresql://${mam.db.host}:${mam.db.port}/${mam.db.database}?password=${mam.db.password}&amp;user=${mam.db.username}" driverClassName="org.postgresql.Driver" doc:name="MH monitoring DB"> 
        <reconnect></reconnect>  
    </db:generic-config>
    <context:property-placeholder location="${mule.env}.properties"/>   
    <flow name="API-gateway" processingStrategy="synchronous">
        <http:listener config-ref="HTTP_Listener_Configuration" path="services" doc:name="HTTP" allowedMethods="GET, POST"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="organization" value="#[payload.organization]" doc:name="Set organization"/>
        <set-variable variableName="services" value="#[payload.services]" doc:name="Set services"/>
        <scatter-gather doc:name="Scatter-Gather">
            <processor-chain>
                <logger message="AMS flow started" level="INFO" doc:name="Start AMS"/>
                <set-variable variableName="isAMSNeeded" value="#[flowVars.services.contains('AMS')]" doc:name="Set isAMSNeeded"/>
                <choice doc:name="Is MAM needed?">
                    <when expression="#[!flowVars.services.contains(&quot;MAM&quot;)&amp;&amp;!flowVars.services.contains(&quot;mam&quot;)]">
                        <logger message="AMS is not needed" level="INFO" doc:name="No"/>
                    </when>
                    <otherwise>
                        <logger message="AMS is needed" level="INFO" doc:name="Yes"/>
                        <flow-ref name="AMS" doc:name="AMS"/>
                    </otherwise>
                </choice>
                <logger message="AMS flow ended" level="INFO" doc:name="End AMS"/>
            </processor-chain>
            <processor-chain>
                <logger message="MAM flow started" level="INFO" doc:name="Start MAM"/>
                <set-variable variableName="isMAMNeeded" value="#[flowVars.services.contains('MAM')]" doc:name="Set isMAMNeeded"/>
                <choice doc:name="Is MAM needed?">
                    <when expression="#[!flowVars.services.contains(&quot;MAM&quot;)&amp;&amp;!flowVars.services.contains(&quot;mam&quot;)]">
                        <logger message="AMS is not needed" level="INFO" doc:name="No"/>
                    </when>
                    <otherwise>
                        <logger message="AMS is needed" level="INFO" doc:name="Yes"/>
                        <flow-ref name="MAM" doc:name="MAM"/>
                        <set-variable variableName="response" value="#[payload]" doc:name="Add to response"/>
                        <logger message="Build response JSON MAM" level="INFO" doc:name="Build response JSON MAM"/>
                    </otherwise>
                </choice>
                <logger message="MAM flow ended" level="INFO" doc:name="End MAM"/>
            </processor-chain>
        </scatter-gather>
        <set-payload value="#[payload[1]]" doc:name="Set Payload with concat of responses"/>
        <logger message="Done" level="INFO" doc:name="Done"/>
    </flow>
    <sub-flow name="MAM">
        <db:select config-ref="Mediahaven_monitoring" doc:name="Check MAM for this organization" >
            <db:parameterized-query><![CDATA[select *
from ${mam.db.datatable.pids}
where content_provider = #[flowVars.organization]
LIMIT 10]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </sub-flow>
    <sub-flow name="AMS">
        <logger message="Build response JSON AMS" level="INFO" doc:name="Build response JSON AMS"/>
    </sub-flow>
</mule>