src/main/app/report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<flow name="get:/report/ams:api-config">
        <set-variable variableName="description" value="Get all registered assets for a content provider within a specific period from AMS" doc:name="Set description"/>
        <set-variable variableName="cp_ldap" value="#[message.inboundProperties.'http.query.params'.cp]" doc:name="Set cp_ldap (LDAP ID)"/>
        <choice doc:name="cp_ldap is empty?">
            <when expression="#[flowVars.cp_ldap!=null &amp;&amp; flowVars.cp_ldap!='null' &amp;&amp; flowVars.cp_ldap != 'OR-w66976m']">
                <set-variable variableName="query_ams_organization_ids" value="#['SELECT id FROM ']${ams.db.organizations}#[' WHERE noid_id LIKE \'' + flowVars.cp_ldap + '\'']" doc:name="Set query_ams_organization_ids"/>
                <logger message="Retrieving global stats: #[flowVars.cp_ldap]" level="INFO" doc:name="Retrieving global stats for an cp"/>
            </when>
            <otherwise>
                <set-variable variableName="query_ams_organization_ids" value="#['SELECT id FROM ']${ams.db.organizations}" doc:name="Set query_ams_organization_ids to every organization"/>
            </otherwise>
        </choice>
        <set-variable variableName="granularity" value="#[message.inboundProperties.'http.query.params'.gran==null?'last-day':message.inboundProperties.'http.query.params'.gran]" doc:name="Set granularity (todo better error catching)"/>
        <ee:cache cachingStrategy-ref="Caching_AMS" doc:name="Cache">
            <choice doc:name="Last-day, last-week, last-month, last-year or all-time?">
            	<when expression="#[flowVars.granularity.equals('all-time')]">
                    <logger message="all-time = no start and end" level="INFO" doc:name="all-time = no start and end"/>
                    <set-payload value="select extract(year_month from created_on), unix_timestamp(min(created_on)) x, count(1) total_registered,
sum(case when carrier_type_id = 1 then 1 else 0 end) audio_registered,
sum(case when carrier_type_id = 2 then 1 else 0 end) video_registered,
sum(case when carrier_type_id = 3 then 1 else 0 end) paper_registered,
sum(case when carrier_type_id = 4 then 1 else 0 end) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (
	#[flowVars.query_ams_organization_ids]
)
group by extract(year_month from created_on)
order by min(created_on) asc;" doc:name="Set Payload to query"/>
                    <flow-ref name="ref:ams-call" doc:name="ref:ams-call"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-year')]">
                    <logger message="1 year" level="INFO" doc:name="1 year = last 12 months"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusYears(-1).toString()]" doc:name="Set start (now() - 1 year)"/>
                    <set-variable variableName="timeRange" value="#['created_on &gt;= ' + &quot;'&quot; + flowVars.start + &quot;'&quot;]" doc:name="Set timeRange of where-clausule"/>
                    <set-payload value="select extract(year_month from created_on), unix_timestamp(min(created_on)) x, count(1) total_registered,
sum(case when carrier_type_id = 1 then 1 else 0 end) audio_registered,
sum(case when carrier_type_id = 2 then 1 else 0 end) video_registered,
sum(case when carrier_type_id = 3 then 1 else 0 end) paper_registered,
sum(case when carrier_type_id = 4 then 1 else 0 end) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (
	#[flowVars.query_ams_organization_ids]
)
AND #[flowVars.timeRange]
group by extract(year_month from created_on)
order by min(created_on) asc;" doc:name="Set Payload to query"/>
                    <flow-ref name="ref:ams-call" doc:name="ref:ams-call"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-month')]">
                    <logger message="1 month" level="INFO" doc:name="1 month = last 30 days"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusMonths(-1).toString()]" doc:name="Set start (now() - 1 month)"/>
                    <set-variable variableName="timeRange" value="#['created_on &gt;= ' + &quot;'&quot; + flowVars.start + &quot;'&quot;]" doc:name="Set timeRange of where-clausule"/>
                    <set-payload value="select concat(extract(year_month from created_on), extract(day from created_on)), unix_timestamp(min(created_on)) x, count(1) total_registered, sum(case when carrier_type_id = 1 then 1 else 0 end) audio_registered, sum(case when carrier_type_id = 2 then 1 else 0 end) video_registered, sum(case when carrier_type_id = 3 then 1 else 0 end) paper_registered, sum(case when carrier_type_id = 4 then 1 else 0 end) film_registered FROM ${ams.db.carrier} WHERE organization_id IN (  #[flowVars.query_ams_organization_ids] ) AND #[flowVars.timeRange] group by concat(extract(year_month from created_on), extract(day from created_on)) order by min(created_on) asc;" doc:name="Set Payload to query"/>
                    <flow-ref name="ref:ams-call" doc:name="ref:ams-call"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-week')]">
                    <logger message="1 week" level="INFO" doc:name="1 week = last 7 days"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusWeeks(-1).toString()]" doc:name="Set start (now() - 1 week)"/>
                    <set-variable variableName="timeRange" value="#['created_on &gt;= ' + &quot;'&quot; + flowVars.start + &quot;'&quot;]" doc:name="Set timeRange of where-clausule"/>
                    <set-payload value="select concat(extract(year_month from created_on), extract(day from created_on)), unix_timestamp(min(created_on)) x, count(1) total_registered,
sum(case when carrier_type_id = 1 then 1 else 0 end) audio_registered,
sum(case when carrier_type_id = 2 then 1 else 0 end) video_registered,
sum(case when carrier_type_id = 3 then 1 else 0 end) paper_registered,
sum(case when carrier_type_id = 4 then 1 else 0 end) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (
	#[flowVars.query_ams_organization_ids]
)
AND #[flowVars.timeRange]
group by concat(extract(year_month from created_on), extract(day from created_on))
order by min(created_on) asc;" doc:name="Set Payload to query"/>
                    <flow-ref name="ref:ams-call" doc:name="ref:ams-call"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-day')]">
                    <logger message="Live data" level="INFO" doc:name="Last day = 24 hours for every 1 hour"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusDays(-1).toString()]" doc:name="Set start (now() - 1 day)"/>
                    <set-variable variableName="timeRange" value="#['created_on &gt;= ' + &quot;'&quot; + flowVars.start + &quot;'&quot;]" doc:name="Set timeRange of where-clausule"/>
                    <set-payload value="select concat(extract(year_month from created_on), extract(day from created_on), extract(hour from created_on)), unix_timestamp(min(created_on)) x, count(1) total_registered,
sum(case when carrier_type_id = 1 then 1 else 0 end) audio_registered,
sum(case when carrier_type_id = 2 then 1 else 0 end) video_registered,
sum(case when carrier_type_id = 3 then 1 else 0 end) paper_registered,
sum(case when carrier_type_id = 4 then 1 else 0 end) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (
	#[flowVars.query_ams_organization_ids]
)
AND #[flowVars.timeRange]
group by concat(extract(year_month from created_on), extract(day from created_on), extract(hour from created_on))
order by min(created_on) asc;" doc:name="Set Payload to query"/>
                    <flow-ref name="ref:ams-call" doc:name="ref:ams-call"/>
                </when>
                <otherwise>
                    <logger message="Bad granularity, use last-year, last-month, last-week or last-day" level="INFO" doc:name="Bad granularity, use live-data, 2-days, 1-month or 1-year"/>
                </otherwise>
            </choice>
        </ee:cache>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response",
	{
	"total":
		(payload map (
				{
					"x": $.x,
					"y": $.total_registered
				}
		)),
	"audio": 
		(payload map (
				{
					"x": $.x,
					"y": $.audio_registered
				}
		)),
	"video": 
		(payload map (
				{
					"x": $.x,
					"y": $.video_registered
				}
		)),
	"paper": 
		(payload map (
				{
					"x": $.x,
					"y": $.paper_registered
				}
		)),
	"film": 
		(payload map (
				{
					"x": $.x,
					"y": $.film_registered
				}
		))
	}
)]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Done" level="INFO" doc:name="Done"/>
    </flow>

	<flow name="get:/report/mam:api-config">
        <set-variable variableName="description" value="Get all archived assets for a content provider within a specific period from MAM" doc:name="Set description"/>
        <set-variable variableName="cp_ldap" value="#[message.inboundProperties.'http.query.params'.cp]" doc:name="Set cp_ldap (LDAP ID)"/>
        <set-variable variableName="granularity" value="#[message.inboundProperties.'http.query.params'.gran==null?'last-day':message.inboundProperties.'http.query.params'.gran]" doc:name="Set granularity (todo better error catching)"/>
        <choice doc:name="cp_ldap is empty?">
            <when expression="#[flowVars.cp_ldap!=null &amp;&amp; flowVars.cp_ldap!='null']">
                <flow-ref name="ldap2mam" doc:name="ldap2mam"/>
            </when>
            <otherwise>
                <set-variable variableName="cp_mam" value="#['%']" doc:name="Set cp_mam (default %)"/>
            </otherwise>
        </choice>
        <ee:cache cachingStrategy-ref="Caching_MAM" doc:name="Cache">
            <choice doc:name="Last-day, last-week, last-month, last-year or all-time?">
	            <when expression="#[flowVars.granularity.equals('all-time')]">
	                    <logger message="all-time = no start" level="INFO" doc:name="all-time = no start and end"/>
                    <set-payload value="SELECT distinct extract(epoch from m.month) x, case when (count(1) OVER (PARTITION BY m.month)) = 1 then 0 else count(1) OVER (PARTITION BY m.month) end items,
	case when (sum(carrier_size) OVER (PARTITION BY m.month)) is null then 0 else sum(carrier_size) OVER (PARTITION BY m.month) end bytes
	FROM  (SELECT generate_series(date_trunc('month', min(date))
	                            , max(date), '1 month') AS month FROM pids) m
	LEFT   JOIN (SELECT date_trunc('month', date) AS month, carrier_size FROM pids
																where content_provider LIKE #[flowVars.cp_mam]
																AND status = 'OK'
																AND pid IN (
																	select pid
																	from events
																	where key = 'ARCHIVED_ON_TAPE_VAULT'
																)) c
	                                                        USING (month)
	ORDER  BY 1;" doc:name="Fetch items and bytes"/>
                    <flow-ref name="ref:mh-call" doc:name="ref:mh-call"/>
	                </when>
                <when expression="#[flowVars.granularity.equals('last-year')]">
                    <logger message="1 year" level="INFO" doc:name="1 year = last 12 months"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusYears(-1).toString()]" doc:name="Set start (now() - 1 year)"/>
                    <set-variable variableName="startDateTime" value="#[server.dateTime.getDate().plusYears(-1)]" doc:name="Set startDateTime"/>
                    <set-payload value="SELECT distinct extract(epoch from m.month) x, case when (count(1) OVER (PARTITION BY m.month)) = 1 then 0 else count(1) OVER (PARTITION BY m.month) end items,
case when (sum(carrier_size) OVER (PARTITION BY m.month)) is null then 0 else sum(carrier_size) OVER (PARTITION BY m.month) end bytes
FROM  (SELECT generate_series(date_trunc('month', min(date))
                            , max(date), '1 month') AS month FROM pids where date &gt;= '#[flowVars.start]') m
LEFT   JOIN (SELECT date_trunc('month', date) AS month, carrier_size FROM pids
															where date &gt;= '#[flowVars.start]'
															AND content_provider LIKE '#[flowVars.cp_mam]'
															AND status = 'OK'
															AND pid IN (
																select pid
																from events
																where date &gt;= '#[flowVars.start]'
																	AND key = 'ARCHIVED_ON_TAPE_VAULT'
															)) c
                                                        USING (month)
ORDER  BY 1;" doc:name="Set Payload"/>
                    <flow-ref name="ref:mh-call" doc:name="ref:mh-call"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-month')]">
                    <logger message="1 month" level="INFO" doc:name="1 month = last 30 days"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusMonths(-1).toString()]" doc:name="Set start (now() - 1 month)"/>
                    <set-variable variableName="startDateTime" value="#[server.dateTime.getDate().plusMonths(-1)]" doc:name="Set startDateTime"/>
                    <set-payload value="SELECT distinct extract(epoch from m.day) x, case when (count(1) OVER (PARTITION BY m.day)) = 1 then 0 else count(1) OVER (PARTITION BY m.day) end items,
case when (sum(carrier_size) OVER (PARTITION BY m.day)) is null then 0 else sum(carrier_size) OVER (PARTITION BY m.day) end bytes
FROM  (SELECT generate_series(date_trunc('day', min(date))
                            , max(date), '1 day') AS day FROM pids where date &gt;= '#[flowVars.start]') m
LEFT   JOIN (SELECT date_trunc('day', date) AS day, carrier_size FROM pids
															where date &gt;= '#[flowVars.start]'
															AND content_provider LIKE '#[flowVars.cp_mam]'
															AND status = 'OK'
															AND pid IN (
																select pid
																from events
																where date &gt;= '#[flowVars.start]'
																	AND key = 'ARCHIVED_ON_TAPE_VAULT'
															)) c
                                                        USING (day)
ORDER  BY 1;" doc:name="Set Payload"/>
                    <flow-ref name="ref:mh-call" doc:name="ref:mh-call"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-week')]">
                    <logger message="1 week" level="INFO" doc:name="1 week = last 7 days"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusWeeks(-1).toString()]" doc:name="Set start (now() - 1 week)"/>
                    <set-variable variableName="startDateTime" value="#[server.dateTime.getDate().plusWeeks(-1)]" doc:name="Set startDateTime"/>
                    <set-payload value="SELECT distinct extract(epoch from m.day) x, case when (count(1) OVER (PARTITION BY m.day)) = 1 then 0 else count(1) OVER (PARTITION BY m.day) end items,
case when (sum(carrier_size) OVER (PARTITION BY m.day)) is null then 0 else sum(carrier_size) OVER (PARTITION BY m.day) end bytes
FROM  (SELECT generate_series(date_trunc('day', min(date))
                            , max(date), '1 day') AS day FROM pids where date &gt;= '#[flowVars.start]') m
LEFT   JOIN (SELECT date_trunc('day', date) AS day, carrier_size FROM pids
															where date &gt;= '#[flowVars.start]'
															AND content_provider LIKE '#[flowVars.cp_mam]'
															AND status = 'OK'
															AND pid IN (
																select pid
																from events
																where date &gt;= '#[flowVars.start]'
																	AND key = 'ARCHIVED_ON_TAPE_VAULT'
															)) c
                                                        USING (day)
ORDER  BY 1;" doc:name="Set Payload"/>
                    <flow-ref name="ref:mh-call" doc:name="ref:mh-call"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-day')]">
                    <logger message="Live data" level="INFO" doc:name="Last day = 24 hours for every 1 hour"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusDays(-1).toString()]" doc:name="Set start (now() - 1 day)"/>
                    <set-variable variableName="startDateTime" value="#[server.dateTime.getDate().plusDays(-1)]" doc:name="Set startDateTime"/>
                    <set-payload value="SELECT distinct extract(epoch from m.hour) x, case when (count(1) OVER (PARTITION BY m.hour)) = 1 then 0 else count(1) OVER (PARTITION BY m.hour) end items,
case when (sum(carrier_size) OVER (PARTITION BY m.hour)) is null then 0 else sum(carrier_size) OVER (PARTITION BY m.hour) end bytes
FROM  (SELECT generate_series(date_trunc('hour', min(date))
                            , max(date), '1 hour') AS hour FROM pids where date &gt;= '#[flowVars.start]') m
LEFT   JOIN (SELECT date_trunc('hour', date) AS hour, carrier_size FROM pids
															where date &gt;= '#[flowVars.start]'
															AND content_provider LIKE '#[flowVars.cp_mam]'
															AND status = 'OK'
															AND pid IN (
																select pid
																from events
																where date &gt;= '#[flowVars.start]'
																	AND key = 'ARCHIVED_ON_TAPE_VAULT'
															)) c
                                                        USING (hour)
ORDER  BY 1;" doc:name="Set Payload"/>
                    <flow-ref name="ref:mh-call" doc:name="ref:mh-call"/>
                </when>
                <otherwise>
                    <logger message="Bad granularity, use live-data, 2-days, 1-month or 1-year" level="INFO" doc:name="Bad granularity, use live-data, 2-days, 1-month or 1-year"/>
                </otherwise>
            </choice>
        </ee:cache>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", 
	{
	"items":
		(payload map (
				{
					"x": $.x,
					"y": $.items
				}
		)),
	"bytes": 
		(payload map (
				{
					"x": $.x,
					"y": $.bytes
				}
		))
}
)]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Done" level="INFO" doc:name="Done"/>
    </flow>

	<flow name="get:/report/global:api-config" >
        <set-variable variableName="description" value="Create a global report for a content provider" doc:name="Set description"/>
        <set-variable variableName="cp_ldap" value="#[message.inboundProperties.'http.query.params'.cp]" doc:name="Set cp_ldap (LDAP ID)"/>
        <choice doc:name="cp_ldap is empty or is VIAA?">
            <when expression="#[flowVars.cp_ldap!=null &amp;&amp; flowVars.cp_ldap!='null'&amp;&amp;flowVars.cp_ldap!='OR-w66976m']">
                <set-payload value="#[flowVars.cp_ldap]" doc:name="Set Payload"/>
                <enricher  target="#[flowVars.cp_mam]" doc:name="Message Enricher">
                    <flow-ref name="ldap2mam" doc:name="ldap2mam"/>
                </enricher>
                <set-variable variableName="where_clausule_mam_content_provider" value="#['AND content_provider LIKE \'' + flowVars.cp_mam + '\'']" doc:name="Set where_clausule_mam_content_provider"/>
                <set-variable variableName="query_ams_organization_ids" value="#['SELECT id FROM ']${ams.db.organizations}#[' WHERE noid_id LIKE \'' + flowVars.cp_ldap + '\'']" doc:name="Set query_ams_organization_ids"/>
                <logger message="Retrieving global stats: #[flowVars.cp_ldap]" level="INFO" doc:name="Retrieving global stats for an cp"/>
            </when>
            <otherwise>
                <set-variable variableName="where_clausule_mam_content_provider" value="#['']" doc:name="Set where_clausule_mam_content_provider as empty"/>
                <set-variable variableName="query_ams_organization_ids" value="#['SELECT id FROM ']${ams.db.organizations}" doc:name="Set query_ams_organization_ids to every organization"/>
            </otherwise>
        </choice>
        <enricher doc:name="Message Enricher" target="#[payload]">
        	<ee:cache cachingStrategy-ref="Caching_global" doc:name="Cache">
            <scatter-gather doc:name="Scatter-Gather">
                <threading-profile poolExhaustedAction="RUN"/>
                <processor-chain>
                    <expression-component doc:name="Sleep 20"><![CDATA[Thread.sleep(20);]]></expression-component>
                    <logger message="Start AMS registered" level="INFO" doc:name="Logger"/>
                    <set-payload value="SELECT count(1) total_registered,
sum(case when carrier_type_id = 1 then 1 else 0 end) audio_registered,
sum(case when carrier_type_id = 2 then 1 else 0 end) video_registered,
sum(case when carrier_type_id = 3 then 1 else 0 end) paper_registered,
sum(case when carrier_type_id = 4 then 1 else 0 end) film_registered
FROM ${ams.db.carrier}
WHERE organization_id IN (
	#[flowVars.query_ams_organization_ids]
);" doc:name="Set Payload"/>
                    <flow-ref name="ref:ams-call" doc:name="ref:ams-call"/>
                    <logger message="AMS registered done" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <logger message="start MAM" level="INFO" doc:name="Logger"/>
                    <set-payload value="SELECT case when mime_type LIKE '%video%' then 'video' else mime_type end mime_type, 
count(case when status = 'OK' then 1 end) archived_amount_ok, 
sum(case when status = 'OK' and carrier_size is not null then carrier_size else 0 end) archived_bytes_ok,
count(case when status = 'NOK' then 1 end) archived_amount_nok, 
sum(case when status = 'NOK' and carrier_size is not null then carrier_size else 0 end) archived_bytes_nok
FROM ${mam.db.datatable.pids}
WHERE status IN ('OK', 'NOK') #[flowVars.where_clausule_mam_content_provider]
GROUP BY case when mime_type LIKE '%video%' then 'video' else mime_type end
ORDER BY archived_amount_ok desc;" doc:name="Set Payload"/>
                    <flow-ref name="ref:mh-call" doc:name="ref:mh-call"/>
                    <flow-ref name="CalcAndAddMAMTotal" doc:name="CalcAndAddMAMTotal"/>
                    <logger message="MAM done" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <expression-component doc:name="Sleep 40"><![CDATA[Thread.sleep(40);]]></expression-component>
                    <logger message="Start AMS digitised" level="INFO" doc:name="Logger"/>
                    <set-payload value="select sum(case when (c.is_digitized = 0 and e.event_outcome is null) and c.carrier_type_id = 1 then 1 else 0 end) audio_registered_and_not_digitised,
sum(case when (c.is_digitized = 0 and e.event_outcome is null) and c.carrier_type_id = 2 then 1 else 0 end) video_registered_and_not_digitised,
sum(case when (c.is_digitized = 0 and e.event_outcome is null) and c.carrier_type_id = 4 then 1 else 0 end) film_registered_and_not_digitised,
sum(case when e.event_outcome = 1 and c.carrier_type_id = 1 then 1 else 0 end) audio_digitised_ok,
sum(case when e.event_outcome = 0 and c.carrier_type_id = 1 then 1 else 0 end) audio_digitised_nok,
sum(case when e.event_outcome = 1 and c.carrier_type_id = 2 then 1 else 0 end) video_digitised_ok,
sum(case when e.event_outcome = 0 and c.carrier_type_id = 2 then 1 else 0 end) video_digitised_nok,
sum(case when e.event_outcome = 1 and c.carrier_type_id = 4 then 1 else 0 end) film_digitised_ok,
sum(case when e.event_outcome = 0 and c.carrier_type_id = 4 then 1 else 0 end) film_digitised_nok
from ams.carrier c
	LEFT JOIN ams.events e ON c.id = e.carrier_id
		and e.id = 
			(select max(id) from ams.events x where x.carrier_id = c.id and event_lookup_id = 5)
WHERE carrier_id IN (
											select id
											from ${ams.db.carrier}
											where organization_id IN (
												#[flowVars.query_ams_organization_ids]
											)
										);" doc:name="Set Payload"/>
                    <flow-ref name="ref:ams-call" doc:name="ref:ams-call"/>
                    <logger message="AMS digitised av done" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <expression-component doc:name="Sleep 60"><![CDATA[Thread.sleep(60);]]></expression-component>
                    <logger message="Start AMS digitised paper" level="INFO" doc:name="Logger"/>
                    <set-payload value="select sum(case when e.event_outcome = 1 then 1 else 0 end) paper_digitised_ok,
sum(case when e.event_outcome = 0 then 1 else 0 end) paper_digitised_nok
from ${ams.db.paper_event} e
where event_lookup_id = 5 and carrier_id IN (
											select id
											from ${ams.db.carrier}
											where organization_id IN (
												#[flowVars.query_ams_organization_ids]
											)
										)" doc:name="Set Payload"/>
                    <flow-ref name="ref:ams-call" doc:name="ref:ams-call"/>
                    <logger message="AMS digitised paper done" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <expression-component doc:name="Sleep 80"><![CDATA[Thread.sleep(80);]]></expression-component>
                    <logger message="Start AMS status" level="INFO" doc:name="Logger"/>
                    <set-payload value="select sum(case when e.event_outcome = 1 then 1 else 0 end) paper_digitised_ok,
sum(case when e.event_outcome = 0 then 1 else 0 end) paper_digitised_nok
from ${ams.db.paper_event} e
where event_lookup_id = 5 and carrier_id IN (
											select id
											from ${ams.db.carrier}
											where organization_id IN (
												#[flowVars.query_ams_organization_ids]
											)
										)" doc:name="Set Payload"/>
                    <flow-ref name="ref:ams-call" doc:name="ref:ams-call"/>
                    <logger message="AMS digitised paper done" level="INFO" doc:name="Logger"/>
                </processor-chain>
            </scatter-gather>
        </ee:cache>
        </enricher>
        
        <expression-component doc:name="Add AMS and MAM as sources"><![CDATA[// Scatter Gather does not keep variables made in a referenced flow. Add the sources here manually
if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}
if (!flowVars.sources.contains("MAM")) {
	flowVars.sources.add("MAM");
}]]></expression-component>
        <dw:transform-message doc:name="Build nice JSON object">
            <dw:set-payload><![CDATA[%dw 1.0
%function zero(n) n when n!=null otherwise 0
%output application/json
---
lookup("create_response", 
	{
	"registered": {
		"video": zero(payload[0][0].video_registered),
		"audio": zero(payload[0][0].audio_registered),
		"film": zero(payload[0][0].film_registered),	
		"paper": zero(payload[0][0].paper_registered),
		"total": zero(payload[0][0].total_registered)
	},
	"archived": { (payload[1] map (
			{
				($.mime_type): {
					"amount": {
						"ok": zero($.archived_amount_ok),
						"nok": zero($.archived_amount_nok)
					},
					"bytes": {
						"ok": zero($.archived_bytes_ok),
						"nok": zero($.archived_bytes_nok)
					}
				}
			} when $.mime_type != null 
			otherwise {
				"unknown": {
					"amount": {
						"ok": zero($.archived_amount_ok),
						"nok": zero($.archived_amount_nok)
					},
					"bytes": {
						"ok": zero($.archived_bytes_ok),
						"nok": zero($.archived_bytes_nok)
					}
				}
			} 
			))
	},
	"digitised": {
		"video": {
			"ok": zero(payload[2][0].video_digitised_ok),
			"nok": zero(payload[2][0].video_digitised_nok)
		},
		"audio": {
			"ok": zero(payload[2][0].audio_digitised_ok),
			"nok": zero(payload[2][0].audio_digitised_nok)
		},
		"film": {
			"ok": zero(payload[2][0].film_digitised_ok),
			"nok": zero(payload[2][0].film_digitised_nok)
		},
		"paper": {
			"ok": zero(payload[3][0].paper_digitised_ok),
			"nok": zero(payload[3][0].paper_digitised_nok)
		},
		"total": {
			"ok": zero(payload[2][0].video_digitised_ok) + zero(payload[2][0].audio_digitised_ok) + zero(payload[2][0].film_digitised_ok) + zero(payload[3][0].paper_digitised_ok),
			"nok": zero(payload[2][0].video_digitised_nok) + zero(payload[2][0].audio_digitised_nok) + zero(payload[2][0].film_digitised_nok) + zero(payload[3][0].paper_digitised_nok)
		}
	}	
}
)]]></dw:set-payload>
        </dw:transform-message>
    </flow>
	
</mule>
