src/main/app/api/report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<flow name="get:/report/ams:api-config">
        <set-variable variableName="description" value="Get all registered assets for a content provider within a specific period from AMS" doc:name="Set description"/>
        <set-variable variableName="cp_ldap" value="#[message.inboundProperties.'http.query.params'.cp]" doc:name="Set cp_ldap (LDAP ID)"/>
        <choice doc:name="cp_ldap is empty?">
            <when expression="#[flowVars.cp_ldap!=null &amp;&amp; flowVars.cp_ldap!='null' &amp;&amp; flowVars.cp_ldap != 'OR-w66976m']">
                <set-variable variableName="query_ams_organization_ids" value="#['SELECT id FROM ']${ams.db.organizations}#[' WHERE noid_id = \'' + flowVars.cp_ldap + '\'']" doc:name="Set query_ams_organization_ids"/>
                <logger message="Retrieving global stats: #[flowVars.cp_ldap]" level="INFO" doc:name="Retrieving global stats for an cp"/>
            </when>
            <otherwise>
                <set-variable variableName="query_ams_organization_ids" value="#['SELECT id FROM ']${ams.db.organizations}" doc:name="Set query_ams_organization_ids to every organization"/>
            </otherwise>
        </choice>
        <set-variable variableName="granularity" value="#[message.inboundProperties.'http.query.params'.gran==null?'last-day':message.inboundProperties.'http.query.params'.gran]" doc:name="Set granularity (todo better error catching)"/>
        <ee:cache cachingStrategy-ref="Caching_AMS" doc:name="Cache">
            <choice doc:name="Last-day, last-week, last-month, last-year or all-time?">
            	<when expression="#[flowVars.granularity.equals('all-time')]">
                    <logger message="all-time = no start and end" level="INFO" doc:name="all-time = no start and end"/>
                    <flow-ref name="db:/report/ams" doc:name="db:/report/ams"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-year')]">
                    <logger message="1 year" level="INFO" doc:name="1 year = last 12 months"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusYears(-1).toString()]" doc:name="Set start (now() - 1 year)"/>
                    <flow-ref name="db:/report/ams-created" doc:name="db:/report/ams-created"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-month')]">
                    <logger message="1 month" level="INFO" doc:name="1 month = last 30 days"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusMonths(-1).toString()]" doc:name="Set start (now() - 1 month)"/>
                    <flow-ref name="db:/report/ams-created" doc:name="db:/report/ams-created"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-week')]">
                    <logger message="1 week" level="INFO" doc:name="1 week = last 7 days"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusWeeks(-1).toString()]" doc:name="Set start (now() - 1 week)"/>
                    <flow-ref name="db:/report/ams-created" doc:name="db:/report/ams-created"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-day')]">
                    <logger message="Live data" level="INFO" doc:name="Last day = 24 hours for every 1 hour"/>
                    <set-variable variableName="start" value="#[server.dateTime.getDate().plusDays(-1).toString()]" doc:name="Set start (now() - 1 day)"/>
                    <flow-ref name="db:/report/ams-created" doc:name="db:/report/ams-created"/>
                </when>
                <otherwise>
                    <logger message="Bad granularity, use last-year, last-month, last-week or last-day" level="INFO" doc:name="Bad granularity, use live-data, 2-days, 1-month or 1-year"/>
                </otherwise>
            </choice>
        </ee:cache>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response",
	{
	"total":
		(payload map (
				{
					"x": $.x,
					"y": $.total_registered
				}
		)),
	"audio": 
		(payload map (
				{
					"x": $.x,
					"y": $.audio_registered
				}
		)),
	"video": 
		(payload map (
				{
					"x": $.x,
					"y": $.video_registered
				}
		)),
	"paper": 
		(payload map (
				{
					"x": $.x,
					"y": $.paper_registered
				}
		)),
	"film": 
		(payload map (
				{
					"x": $.x,
					"y": $.film_registered
				}
		))
	}
)]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Done" level="INFO" doc:name="Done"/>
    </flow>

	<flow name="get:/report/mam:api-config">
        <set-variable variableName="description" value="Get all archived assets for a content provider within a specific period from MAM" doc:name="Set description"/>
        <set-variable variableName="cp_ldap" value="#[message.inboundProperties.'http.query.params'.cp]" doc:name="Set cp_ldap (LDAP ID)"/>
        <set-variable variableName="granularity" value="#[message.inboundProperties.'http.query.params'.gran==null?'last-day':message.inboundProperties.'http.query.params'.gran]" doc:name="Set granularity (todo better error catching)"/>
        <choice doc:name="cp_ldap is empty?">
            <when expression="#[flowVars.cp_ldap!=null &amp;&amp; flowVars.cp_ldap!='null']">
                <flow-ref name="ldap2mam" doc:name="ldap2mam"/>
            </when>
            <otherwise>
                <set-variable variableName="cp_mam" value="#['%']" doc:name="Set cp_mam (default %)"/>
            </otherwise>
        </choice>
        <ee:cache cachingStrategy-ref="Caching_MAM" doc:name="Cache">
            <choice doc:name="Last-day, last-week, last-month, last-year or all-time?">
	            <when expression="#[flowVars.granularity.equals('all-time')]">
	                <logger message="all-time = no start" level="INFO" doc:name="all-time = no start and end"/>
                    <flow-ref name="db:/report/mam" doc:name="db:/report/mam"/>
	                </when>
                <when expression="#[flowVars.granularity.equals('last-year')]">
                    <logger message="1 year" level="INFO" doc:name="1 year = last 12 months"/>
                    <set-variable variableName="start" value="#[dw('(now - |P1Y|) as :date {format: &quot;yyyy-MM-dd&quot;}')]" doc:name="Set start (now() - 1 year)"/>
                    <flow-ref name="db:/report/mam-created" doc:name="db:/report/mam-created"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-month')]">
                    <logger message="1 month" level="INFO" doc:name="1 month = last 30 days"/>
                    <set-variable variableName="start" value="#[dw('(now - |P30D|) as :date {format: &quot;yyyy-MM-dd&quot;}')]" doc:name="Set start (now() - 1 month)"/>
                    <flow-ref name="db:/report/mam-created" doc:name="db:/report/mam-created"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-week')]">
                    <logger message="1 week" level="INFO" doc:name="1 week = last 7 days"/>
                    <set-variable variableName="start" value="#[dw('(now - |P7D|) as :date {format: &quot;yyyy-MM-dd&quot;}')]" doc:name="Set start (now() - 1 week)"/>
                    <flow-ref name="db:/report/mam-created" doc:name="db:/report/mam-created"/>
                </when>
                <when expression="#[flowVars.granularity.equals('last-day')]">
                    <logger message="Live data" level="INFO" doc:name="Last day = 24 hours for every 1 hour"/>
                    <set-variable variableName="start" value="#[dw('(now - |P1D|) as :date {format: &quot;yyyy-MM-dd&quot;}')]" doc:name="Set start (now() - 1 day)"/>
                    <flow-ref name="db:/report/mam-created" doc:name="db:/report/mam-created"/>
                </when>
                <otherwise>
                    <logger message="Bad granularity, use live-data, 2-days, 1-month or 1-year" level="INFO" doc:name="Bad granularity, use live-data, 2-days, 1-month or 1-year"/>
                </otherwise>
            </choice>
        </ee:cache>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
lookup("create_response", 
	{
	"items":
		(payload map (
				{
					"x": $.x,
					"y": $.items
				}
		)),
	"bytes": 
		(payload map (
				{
					"x": $.x,
					"y": $.bytes
				}
		))
}
)]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Done" level="INFO" doc:name="Done"/>
    </flow>

	<flow name="get:/report/global:api-config" >
        <set-variable variableName="description" value="Create a global report for a content provider" doc:name="Set description"/>
        <set-variable variableName="cp_ldap" value="#[message.inboundProperties.'http.query.params'.cp]" doc:name="Set cp_ldap (LDAP ID)"/>
        <choice doc:name="cp_ldap is empty or is VIAA?">
            <when expression="#[flowVars.cp_ldap!=null &amp;&amp; flowVars.cp_ldap!='null'&amp;&amp;flowVars.cp_ldap!='OR-w66976m']">
                <set-payload value="#[flowVars.cp_ldap]" doc:name="Set Payload"/>
                <enricher  target="#[flowVars.cp_mam]" doc:name="Message Enricher">
                    <flow-ref name="ldap2mam" doc:name="ldap2mam"/>
                </enricher>
                <logger message="Retrieving global stats: #[flowVars.cp_ldap]" level="INFO" doc:name="Retrieving global stats for an cp"/>
            </when>
            <otherwise>
                <set-variable variableName="cp_mam" value="#[&quot;%&quot;]" doc:name="Set cp_mam as %"/>
                <set-variable variableName="cp_ldap" value="#[&quot;%&quot;]" doc:name="Set cp_ldap to %"/>
            </otherwise>
        </choice>
        <enricher doc:name="Message Enricher" target="#[payload]">
        	<ee:cache cachingStrategy-ref="Caching_global" doc:name="Cache">
            <scatter-gather doc:name="Scatter-Gather">
                <threading-profile poolExhaustedAction="RUN"/>
                <processor-chain>
                    <expression-component doc:name="Sleep 20"><![CDATA[Thread.sleep(20);]]></expression-component>
                    <logger message="Start AMS registered" level="INFO" doc:name="Logger"/>
                    <flow-ref name="db:/report/global/ams/registered" doc:name="db:/report/global/ams/registered"/>
                    <logger message="AMS registered done" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <logger message="start MAM" level="INFO" doc:name="Logger"/>
                    <flow-ref name="db:/report/global/mam" doc:name="db:/report/global/mam"/>
                    <flow-ref name="CalcAndAddMAMTotal" doc:name="CalcAndAddMAMTotal"/>
                    <logger message="MAM done" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <expression-component doc:name="Sleep 40"><![CDATA[Thread.sleep(40);]]></expression-component>
                    <logger message="Start AMS digitised" level="INFO" doc:name="Logger"/>
                    <flow-ref name="db:/report/global/ams/digitized" doc:name="db:/report/global/ams/digitized"/>
                    <logger message="AMS digitised av done" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <expression-component doc:name="Sleep 60"><![CDATA[Thread.sleep(60);]]></expression-component>
                    <logger message="Start AMS digitised paper" level="INFO" doc:name="Logger"/>
                    <flow-ref name="db:/report/global/ams/digitized_paper" doc:name="db:/report/global/ams/digitized_paper"/>
                    <logger message="AMS digitised paper done" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <expression-component doc:name="Sleep 80"><![CDATA[Thread.sleep(80);]]></expression-component>
                    <logger message="Start AMS status" level="INFO" doc:name="Logger"/>
                    <flow-ref name="db:/report/global/ams/status" doc:name="db:/report/global/ams/status"/>
                    <logger message="AMS digitised paper done" level="INFO" doc:name="Logger"/>
                </processor-chain>
            </scatter-gather>
        </ee:cache>
        </enricher>
                <expression-component doc:name="Add AMS and MAM as source"><![CDATA[if (flowVars.sources == null) {
	flowVars.sources = new java.util.ArrayList();
}

if (!flowVars.sources.contains("AMS")) {
	flowVars.sources.add("AMS");
}

if (!flowVars.sources.contains("MAM")) {
	flowVars.sources.add("MAM");
}]]></expression-component>
        <dw:transform-message doc:name="Build nice JSON object">
            <dw:set-payload><![CDATA[%dw 1.0
%function zero(n) n when n!=null otherwise 0
%output application/json
---
lookup("create_response", 
	{
	"registered": {
		"video": zero(payload[0][0].video_registered),
		"audio": zero(payload[0][0].audio_registered),
		"film": zero(payload[0][0].film_registered),	
		"paper": zero(payload[0][0].paper_registered),
		"total": zero(payload[0][0].total_registered)
	},
	"archived": { (payload[1] map (
			{
				($.mime_type): {
					"amount": {
						"ok": zero($.archived_amount_ok),
						"nok": zero($.archived_amount_nok)
					},
					"bytes": {
						"ok": zero($.archived_bytes_ok),
						"nok": zero($.archived_bytes_nok)
					}
				}
			} when $.mime_type != null 
			otherwise {
				"unknown": {
					"amount": {
						"ok": zero($.archived_amount_ok),
						"nok": zero($.archived_amount_nok)
					},
					"bytes": {
						"ok": zero($.archived_bytes_ok),
						"nok": zero($.archived_bytes_nok)
					}
				}
			} 
			))
	},
	"digitised": {
		"video": {
			"ok": zero(payload[2][0].video_digitised_ok),
			"nok": zero(payload[2][0].video_digitised_nok)
		},
		"audio": {
			"ok": zero(payload[2][0].audio_digitised_ok),
			"nok": zero(payload[2][0].audio_digitised_nok)
		},
		"film": {
			"ok": zero(payload[2][0].film_digitised_ok),
			"nok": zero(payload[2][0].film_digitised_nok)
		},
		"paper": {
			"ok": zero(payload[3][0].paper_digitised_ok),
			"nok": zero(payload[3][0].paper_digitised_nok)
		},
		"total": {
			"ok": zero(payload[2][0].video_digitised_ok) + zero(payload[2][0].audio_digitised_ok) + zero(payload[2][0].film_digitised_ok) + zero(payload[3][0].paper_digitised_ok),
			"nok": zero(payload[2][0].video_digitised_nok) + zero(payload[2][0].audio_digitised_nok) + zero(payload[2][0].film_digitised_nok) + zero(payload[3][0].paper_digitised_nok)
		}
	}	
}
)]]></dw:set-payload>
        </dw:transform-message>
    </flow>
	
</mule>
